@import "bootstrap.less";
@import "iconstyle.less";

/******my style******/
@glass-bg: rgba(51,51,51,.8);
@glass-hover-bg: rgba(107,107,107,.7);
.img-span {
  position: absolute;
  display: block;
  bottom: 5px;
  font-size: .7em;
}
@img-top: .5em;

html,body,#_frameContainer{
  height: 100%;
  padding: 0;
}
body {
  padding-bottom: @navbar-height;
}
.icon {
  width: 1.3em; height: 1.3em;
  vertical-align: -0.3em;
  fill: currentColor;
  overflow: hidden;
  margin-right: .5em;
}
.container-fluid {
  padding: 0;
}
#_showFrame {
  height: 100%;
  width: 100%;
}
#_iframeMask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(250,0,0,0);
}
#_startButton {
  outline: none;
  border-radius: 0;
  background: #333;
  &:hover {
  background: rgba(130,130,130,.5);
  }
}
#_popBox {
  height: 66%;
  position: fixed;
  left:0;
  bottom: 0;
  padding-top: 15px;
  background: @glass-bg;
  opacity: 0;
  > .row {
    height: 100%;
  }
  a.itemTitle {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.1em;
    letter-spacing: 10px;
    span:first-child {
      vertical-align: -0.1em;
    }
  }
  #_popBox-left {
    height:100%;
    overflow: hidden;
    overflow-x: hidden;
    //&::-webkit-scrollbar{
    //  /*left col scrollbar effect*/
    //  width: 10px;
    //  background-color: inherit;
    //  }
    //&::-webkit-scrollbar-thumb{
    //  border-radius: 5px;
    //  background-color: @glass-hover-bg;
    //  visibility: hidden;
    //}
    //&:hover::-webkit-scrollbar-thumb{
    //  visibility: visible;
    //}
  }
  a.list-group-item {
    background: inherit;
    letter-spacing: 5px;
    //&:focus {
    //  background: inherit;/*cover bootstrap style*/
    //}
    i.sprite {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      margin-right: .8em;
    }
  }
  a {
    color:#fff;
    &:hover {
      background: @glass-hover-bg;
    }
  }
  #_popBox-right {
    background: inherit;
    color: #fff;
    .row {
      margin-top:.7em;
    }
    img {
      border: 2px solid transparent;
      display: inline-block;
    }
    #_popBox-right-recommend {
      .carousel {
        top: @img-top;
      }
      .carousel-inner {
        a {
          .carousel-caption {
            span {
              .img-span;
              margin-left: 5px;
              margin-bottom: 1px;
            }
          }
        }

      }

    }
    .common_site i {
      visibility: hidden;
      display: block;
    }
    .common_site a {
      position: relative;
      display: block;
      top: @img-top;
      img {
        border: 2px solid transparent;
        &:hover {
          border-color: #90B2DB;
        }
      }
      span {
        .img-span;
        //left: 0;
        margin-left: 8px;
        margin-bottom: 1px;
        width: 2.5em;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
/*_popBox width media query*/
@media (max-width: 991px) {
  #_popBox {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #_popBox {
    width: 61.8%;
  }
}
#_navBar {
  font-size: .8em;
}

/*navbar glass effect
#_glassWrap {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#_glassWrap::before {
    content: '';
    position: absolute;
    width:100%;
    min-height:36px;
    background: rgba(221,221,221,.5);
    z-index: -1;
    filter:blur(10px);
    margin: 0 -10px;
}*/