.navbar{
	background-color: #2A2B2F;
	}
#nav li a{
	color: #fff;
}
#nav li a:hover{
	background-color: #4A4B4E;
}
#home{
	background-color:#2A2B2F;
}
#remove{
	background-color:#2A2B2F;
	float: left;
}
#menu-right{
	background-color:#2A2B2F;
}
#sidebar{
	background-color: #2A2B2F;
	}
#sidebar ul li a{
	color: #fff;
}
#sidebar ul li a:hover{
	background-color: #4A4B4E;
}
