.navbar{
	background-color: #16A085;
	}
#nav li a{
	color: #fff;
}
#nav li a:hover{
	background-color: #39AE97;
}
#home{
	background-color:#16A085;
}
#remove{
	background-color:#16A085;
	float: left;
}
#menu-right{
	background-color:#16A085;
}
#sidebar{
	background-color: #16A085;
	}
#sidebar ul li a{
	color: #fff;
}
#sidebar ul li a:hover{
	background-color: #39AE97;
}
