.navbar{
	background-color: #C0392B;
	}
#nav li a{
	color: #fff;
}
#nav li a:hover{
	background-color: #CA574B;
}
#home{
	background-color:#C0392B;
}
#remove{
	background-color:#C0392B;
	float: left;
}
#menu-right{
	background-color:#C0392B;
}
#sidebar{
	background-color: #C0392B;
	}
#sidebar ul li a{
	color: #fff;
}
#sidebar ul li a:hover{
	background-color: #CA574B;
}
