html,body,#_frameContainer{
    height: 100%;
    padding: 0;
}
.container-fluid {
    padding: 0;
}
body {
    padding-bottom: 35px;
}
.icon {
    width: 1.2em; height: 1.2em;
    vertical-align: -0.3em;
    fill: currentColor;
    overflow: hidden;
    margin-right: .5em;
}
a.list-group-item {
    border:none;
    background: inherit;
    border-radius: 0 !important;
}
a.list-group-item:focus {
    background: inherit;/*cover bootstrap style*/
}

#_showFrame {
    height: 100%;
    width: 100%;
}
#_startButton {
    outline: none;
    border-radius: 0;
    background: #333;
}
#_startButton:hover {
    background: rgba(130,130,130,.5);
    /*color:#1E70D4 ;*/
}
#_popBox {
    height: 66%;
    position: fixed;
    left:0;
    bottom: 0;
    padding-top: 15px;
    /*border:1px solid #fff;*/
    background: rgba(51,51,51,.8);
    opacity: 0;
}
/*_popBox width media query*/
@media (max-width: 991px) {
    #_popBox {
        width: 100%;
    }
}
@media (min-width: 992px) {
    #_popBox {
        width: 61.8%;
    }
}
#_popBox > .row {
    height: 100%;
}
#_popBox-left {
    height:100%;
    overflow: scroll;
    overflow-x:hidden;
}
/*left col scrollbar effedt*/
#_popBox-left::-webkit-scrollbar{
    width: 10px;
    background-color: inherit;
}
#_popBox-left::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(107,107,107,.7);
    visibility: hidden;

}
#_popBox-left:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
#_popBox a {
    color:#fff;
}
#_popBox a:hover {
    background: rgba(107,107,107,.7) ;
}
a.itemTitle {
    /*border:1px solid red;*/
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}


/*navbar glass effect
#_glassWrap {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#_glassWrap::before {
    content: '';
    position: absolute;
    width:100%;
    min-height:36px;
    background: rgba(221,221,221,.5);
    z-index: -1;
    filter:blur(10px);
    margin: 0 -10px;
}*/